body {
    color: white;
    background: #00004d;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

#bg {
    text-decoration: underline;
    text-decoration-color: #CC101F;
    text-shadow: 0 0 4px #000000;
}

table {
    margin-top: px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 50%;
    border: 2px solid #CC101F;
}

th {
    color: #FFD500;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #CC101F;
    border: 2px solid #CC101F;
    padding: 0;
    margin: 0;
    width: 50%;
}

td, tr {
    color: white;
    padding: 5px;
    margin: 0;
}

#white {
    text-decoration: underline;
    text-decoration-color: #CC101F;
    color: #FFD500;
}

caption {
}